<extend name="Base/common"/>
<block name="body">
	<script language="javascript">
		seajs.use('app/main', function(main) {
			main.init();
			main.load('index');
		});
	</script>
	<!-- <div class="main"> -->
		<section id="menu">
			<div class="toolbar">
				<a href="#menu" class="back">返回</a>
				<a href="#menu" class="cancel">取消</a>
				<h1>UI</h1>
			</div>
			<ul class="menu">
				<li class="arrow"><a href="base.html">Menu 1</a></li>
				<li class="arrow"><a href="#menu_2">Menu 2</a></li>
				<li class="arrow"><a href="#menu_3">Menu 3</a></li>
				<li>Menu 1</li>
				<li>Menu 1</li>
			</ul>
		</section>

		<section id="menu_1">
			<div class="toolbar">
				<h1>Menu 1</h1>
			</div>
			<ul class="menu">
				<li>SubMenu 1</li>
				<li>SubMenu 2</li>
			</ul>
		</section>

		<section id="menu_2">
			<div class="toolbar">
				<h1>Menu 2</h1>
			</div>
			<ul class="menu">
				<li>SubMenu 1</li>
				<li>SubMenu 2</li>
			</ul>
		</section>

		<section id="menu_3">
			<div class="toolbar">
				<h1>Menu 3</h1>
			</div>
			<ul class="menu">
				<li>SubMenu 1</li>
				<li>SubMenu 2</li>
			</ul>
		</section>
	<!-- </div> -->




</block>
