/*common*/
body, html {
	margin: 0 auto;
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	transition: opacity 400ms;
}
body, html {
	display: block;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #f2f2f2;
}
.maroon {
	position: relative;
	top: 3px;
	left: 6px;
	width: 3px;
	color: #f00;
}

/*navbar*/
.navbar-brand {
	width: 180px;
}

.wrapper {
	margin: 0 auto;
	overflow: hidden;
}
.main {
	margin: 0 auto -200px;
	padding-top: 70px;
	padding-bottom: 200px;
	min-height: 100%;
	height: auto;

}

/*index*/
section {
	padding: 80px 0;
	margin-bottom: -40px;
}

/*home*/
#home {
	/*background: url(../img/home-bg.jpg) 0% 6px;*/
	background: #15987e url(../img/home-bg.png) repeat;
}
#start {
	background: #009a61;
}
.home-lt {
	padding: 60px 0 0 0;
	color: #f2f2f2;
}
.home-lt ul li {
	font-size: 20px;
	line-height:40px;
	text-indent: 2px;
	letter-spacing: 1px;
}

.home-lt .action {
	padding: 40px 0;
	color: #fff;
}
.home-lt .action .btn {
	margin-right: 20px;
	padding: 15px 40px;
	font-size: 24px;
}


.home-md {
	width:
}

.home-rt {
	padding: 60px 0 0 0;
}

/*case*/
#case {
	background: #eee;
}
.case-title,
.product-title {
	margin-bottom: 40px;
	color: #666;
	text-shadow: 1px 1px 3px #fff;
}
.case-title h5,
.product-title h5 {
	color: #aaa;
}

.case-body .focus {
	position: relative;
	margin: 0 auto;
	height: 650px;
	text-align: center;
	overflow: hidden;
}
.case-body .focus .menu {
	position: absolute;
	top: 520px;
	left: 0;
	overflow: hidden;
	height: 150px;
	zoom: 1;
	z-index: 3
}
.case-body .menu li {
	position: relative;
	display: inline-block;
	padding: 10px;
}
.case-body .menu li a {
	display: inline-block;
	width: 78px;
	height: 78px;
	background: #ddd;
	border-radius: 100%;
	color: #bbb;
}
.case-body .menu li a:hover,
.case-body .menu .on a {
	color: #009a61;
	text-decoration: none;
}
.case-body .menu li a i {
	padding: 20px 0;
	width: 78px;
	text-align: center;
	font-size: 40px;
}

.case-body .focus .prev,
.case-body .focus .next {
	position: absolute;
	top: 200px;
	display: none;
	width: 40px;
	height: 100px;
	background: url(../img/btn.png) no-repeat;
}
.case-body .focus .prev {
	left: 0;
}
.case-body .focus .next {
	right: 0;
	background-position: right
}


.more {
	margin: 40px 20px 0 0;
	padding: 15px 50px;
	font-size: 24px;
	font-weight: 100;
}

/*product*/
#product {
	background: #fff
}
.product-body li {
	padding: 30px 10px;
	text-align: center;
	border: 1px solid #fff;
}
.product-body li:hover {
	background: #f9f9f9;
	border: 1px solid #eee;
}
.product-body li a > p {
	color: #bbb;
}
.product-body li a:hover {
	text-decoration: none;
}
.product-body .icon-bg {
	display: inline-block;
	width: 96px;
	height: 96px;
	border-radius: 100%;
}
.product-body .icon-bg-green {
	background: #009a61
}
.product-body .icon-bg-blue {
	background: #00b5eb
}
.product-body .icon-bg-yellow {
	background: #ffae3a
}
.product-body .icon-bg-red {
	background: #ef5443
}
.product-body .icon-bg-pink {
	background: #fe949e
}
.product-body .icon-bg-ching {
	background: #00a4a4
}

.product-body i[class*="icon-"] {
	display: inline-block;
	margin: 24px 0;
	width: 48px;
	height: 48px;
	background-image: url(../img/icon.png);
}
.product-body .icon-website {
	background-position: 0 0;
}
.product-body .icon-member {
	background-position: -48px 0;
}
.product-body .icon-shop {
	background-position: -96px 0;
}
.product-body .icon-house {
	background-position: -144px 0;
}
.product-body .icon-auto {
	background-position: -192px 0;
}
.product-body .icon-hospital {
	background-position: -240px 0;
}
.product-body .icon-marry {
	background-position: 0 -48px;
}
.product-body .icon-hotel {
	background-position: -48px -48px;
}
.product-body .icon-order {
	background-position: -96px -48px;
}
.product-body .icon-meal {
	background-position: -144px -48px;
}
.product-body .icon-group {
	background-position: -192px -48px;
}
.product-body .icon-survey {
	background-position: -240px -48px;
}

.product-body .icon-words {
	background-position: 0 -96px;
}
.product-body .icon-topic {
	background-position: -48px -96px;
}
.product-body .icon-service {
	background-position: -96px -96px;
}
.product-body .icon-vote {
	background-position: -144px -96px;
}
.product-body .icon-spin {
	background-position: -192px -96px;
}
.product-body .icon-menu {
	background-position: -240px -96px;
}

/*footer*/
#footer {
	display: block;
	height: 170px;
	background: none repeat scroll 0 0 #333;
	color: #888;
}
#footer a {
	color: #888;
}
#sub-footer {
	padding: 5px 0;
	height: 30px;
	background: #222;
	color: #666;
	font-size: 12px;
	text-align: center;
}