.list-ul {
	overflow: hidden;
	padding: 5px;
	background-color: #eee;
}
.list-ul li {
	float: left;
	padding: 5px;
	width: 50%;
	-webkit-box-sizing: border-box;
}
.list-ul li a {
	padding: 10px;
	display: block;
	height: 32px;
	line-height: 32px;
	border-radius: 3px;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

.list-ul li a.icon-bg-green {
	background: #009a61
}
.list-ul li a.icon-bg-blue {
	background: #00b5eb
}
.list-ul li a.icon-bg-yellow {
	background: #ffae3a
}
.list-ul li a.icon-bg-red {
	background: #ef5443
}
.list-ul li a.icon-bg-pink {
	background: #fe949e
}
.list-ul li a.icon-bg-dark {
	background: #888
}

.list-ul li i[class*="icon-"] {
	display: inline-block;
	float: left;
	margin: 0 10px 0 0;
	width: 32px;
	height: 32px;
	background-image: url(../img/icon.png);
	background-size: 207px 96px;
}

.list-ul .icon-website {
	background-position: 0 0;
}
.list-ul .icon-member {
	background-position: -35px 0;
}
.list-ul .icon-shop {
	background-position: -70px 0;
}
.list-ul .icon-house {
	background-position: -105px 0;
}
.list-ul .icon-auto {
	background-position: -140px 0;
}
.list-ul .icon-hospital {
	background-position: -175px 0;
}
.list-ul .icon-marry {
	background-position: 0 -32px;
}
.list-ul .icon-hotel {
	background-position: -35px -32px;
}
.list-ul .icon-order {
	background-position: -70px -32px;
}
.list-ul .icon-meal {
	background-position: -105px -32px;
}
.list-ul .icon-group {
	background-position: -140px -32px;
}
.list-ul .icon-survey {
	background-position: -175px -32px;
}
.list-ul .icon-words {
	background-position: 0 -64px;
}
.list-ul .icon-topic {
	background-position: -35px -64px;
}
.list-ul .icon-service {
	background-position: -70px -64px;
}
.list-ul .icon-vote {
	background-position: -105px -64px;
}
.list-ul .icon-spin {
	background-position: -140px -64px;
}
.list-ul .icon-menu {
	background-position: -175px -64px;
}


/*item*/





