<extend name="Base/common" />
<block name="header">

</block>

<block name="body">

<div class="container main">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <form id="loginform" class="form-horizontal" method="post" role="form">
          <legend>登录</legend>
          <div class="form-group">
            <label for="username" class="col-xs-2 col-sm-2 col-md-2 control-label">用户名<span class="maroon">*</span></label>
            <div class="col-xs-3 col-sm-3 col-md-3 controls" >
              <input type="text" name="username" class="form-control" placeholder="您的用户名">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-2 col-sm-2 col-md-2 control-label" for="password">密码<span class="maroon">*</span></label>
            <div class="col-xs-3 col-sm-3 col-md-3 controls">
              <input type="password" name="password" class="form-control" placeholder="请您输入密码">
            </div>
          </div>
          <input type="hidden" name="__hash__" value="3e9fde7441cc55bf46afe7f8361af205_fdaa3abcec1d9c172fb1560e9236a331"/>
          <input type="hidden" name="_method" value="put" />
          <div class="form-group">
            <div class="col-xs-offset-2 col-md-offset-2 col-xs-4 col-md-4">
              <button type="submit" class="btn btn-lg btn-primary">登录</button>
              <div class="tips">
                <p>帐号审核：</p>
                <p>
                  自助审核方法：关注右侧官方微信号
                  （右侧扫一扫）
                </p>
                <p>
                  在微信中输入：审核+注册的用户名（不含+号）如：审核weixin
                </p>
                <p>
                  人工审核方法：客服QQ：{weixin::C('site_qq')}，联系审核
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


</block>

<block name="side"> </block>
<block name="script">
	<script type="text/javascript">

    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});


    	$("form").submit(function(){
    		var self = $(this);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.status){
    				window.location.href = data.url;
    			} else {
    				self.find(".Validform_checktip").text(data.info);
    				//刷新验证码
    				$(".reloadverify").click();
    			}
    		}
    	});

		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
		});
	</script>
</block>
