<extend name="Base/index"/>

<block name="body">
	<div id="slider">
		<div>
			<a href="http://www.winhu.com/"><img lazyload="__STATIC__/img/slider/image1.png"></a>
			<p>专业的微信营销服务团队</p>
		</div>
		<div>
			<a href="http://www.winhu.com/"><img lazyload="__STATIC__/img/slider/image2.png"></a>
			<p>微商城免费试用，快来体验</p>
		</div>
		<div>
			<a href="http://www.winhu.com/"><img lazyload="__STATIC__/img/slider/image3.png"></a>
			<p>微社区，移动营销利器</p>
		</div>
		<div>
			<a href="http://www.winhu.com/"><img lazyload="__STATIC__/img/slider/image4.png"></a>
			<p>2014，新征程，新起点</p>
		</div>
	</div>

	<form action="http://www.baidu.com/s" method="get">
    <div class="search">
        <div class="search-input"><input type="text" id="input" name="wd"></div>
        <div class="search-button"><input type="submit" value="搜索"></div>
    </div>
	</form>

	<ul class="nav-index">
		<li>
			<a href="">
				<span class="icon icon-sign"></span>
				<span class="title">今日签到</span>
			</a>
		</li>
		<li>
			<a href="">
				<span class="icon icon-fav"></span>
				<span class="title">我的收藏</span>
			</a>
		</li>
		<li>
			<a href="">
				<span class="icon icon-order"></span>
				<span class="title">查看订单</span>
			</a>
		</li>
	</ul>

	<ul class="card item-index">
		<li class="odd">
			<a href="{:U('Shop/Item/index')}">
				<span class="img"><img src="__STATIC__/img/test/1.jpg"></span>
				<span class="title">新款春装女装韩版修身短款</span>
				<span class="price">128.8<em>元</em></span>
			</a>
		</li>
		<li class="even">
			<a href="{:U('Shop/Item/index')}">
				<span class="img"><img src="__STATIC__/img/test/2.jpg"></span>
				<span class="title">新款春装女装韩版修身短款</span>
				<span class="price">128.8<em>元</em></span>
			</a>
		</li>
		<li class="odd">
			<a href="{:U('Shop/Item/index')}">
				<span class="img"><img src="__STATIC__/img/test/3.jpg"></span>
				<span class="title">新款春装女装韩版修身短款</span>
				<span class="price">128.8<em>元</em></span>
			</a>
		</li>
		<li class="even">
			<a href="{:U('Shop/Item/index')}">
				<span class="img"><img src="__STATIC__/img/test/4.jpg"></span>
				<span class="title">新款春装女装韩版修身短款</span>
				<span class="price">128.8<em>元</em></span>
			</a>
		</li>
	</ul>



</block>

<block name="script">
	<script src="__STATIC__/js/require.js" data-main="__STATIC__/js/app/home.index.js"></script>
</block>
